# Agregar este contenido al .gitignore
# Archivos y directorios específicos de Flutter
**/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
pubspec.lock

# Archivos de configuración de IDE
.idea/
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db